body {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

input[type="text"] {
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  padding: 10px 20px;
  width: 500px;
  font-size: 16px;
  outline: none;
}

.nav-links {
  text-align: right;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.nav-links a {
  color: white;
  font-size: 18px;
  margin-left: 15px;
}

.nav-links a:hover {
  text-decoration: underline;
}
