body {
  background-color: cornflowerblue;
}

.nav-links {
  text-align: right;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.nav-links a {
  color: white;
  font-size: 18px;
  margin-left: 15px;
}

.nav-links a:hover {
  text-decoration: underline;
}
